.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    height: 80px;
    box-shadow: 0 1px 3px -2px black;
    margin-bottom: 2px;
    background: white;
}
.nav-left {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    gap: 18px;
}
.nav-logo {
    width: 50px;
}
.nav-name {
    display: flex
}

.nav-center {
    font-size: 24px;
    font-weight: 700;
    color: black;
}
.nav-profile {
    width: 75px;
}